/node_modules
/public/hot
/public/storage
/public/facturas
/public/nota_debito
/public/notas_credito
/public/presupuesto
/public/upload_articles
/public/comprobantesTransferencias
/public/comprobantesProveedores
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
